[Desktop Entry]
Type=Application
Exec=google-chrome --no-startup-window
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_HK]=Chrome (added manually)
Name=(Added by me) Chrome
Comment[en_HK]=
Comment=
