[Desktop Entry]
Type=Application
Exec=imwheel
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_HK]=(Added by me) Imwheel
Name=Imwheel
Comment[en_HK]=
Comment=
